<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar-brand" href="#">Weekend Escape</a>
      <div class="topnav">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#barList">Post</a>
      </div>
    </nav>
    <div class="container">
      <div class="outer">
        <div class="details">
          <h1><img src="bar photo/image1.jpg" alt="" /></h1>
          <h2>detail hi lud this is the detail controller view</h2>
        </div>
      </div>
    </div>
  </body>
</html>
